@import './variables';

.detailsContainer {
  width: 100%;
  padding: 24px;
  background-color: $color-white-smoke;

  .detailsInitialBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: $color-matterhorn;
  }
}

.detailsInfo {
  padding-right: 8px;
  font-size: 14px;

  .detailsTitle {
    font-size: 32px;
  }

  .detailsMainBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;

    .detailsLanguageChip {
      background-color: $color-dodger-blue;
    }

    .detailsRaiting {
      display: flex;
      align-items: center;

      & > span:first-child {
        padding-right: 8px;
      }
    }
  }

  .detailsTopics {
    margin: 16px 0;

    & > div {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }

  .detailsLicence {
    margin-top: 24px;
  }
}
