@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto';
  font-display: swap;
  src: url('./src/assets/fonts/roboto-regular.tff') format('tff');
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'Roboto';
  font-display: swap;
  src: url('./src/assets/fonts/roboto-medium.tff') format('tff');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Roboto';
  font-display: swap;
  src: url('./src/assets/fonts/roboto-bold.tff') format('tff');
}
