@import './variables';

.result {
  margin: 24px 16px 0px 32px;
  display: grid;

  .resultTitle {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 400;
  }

  .resultTable {
    width: 912px;

    div.resultColumn {
      max-width: 182px !important;
      width: 182px !important;

      & div {
        flex-direction: row-reverse;
        justify-content: flex-end;

        & div {
          font-weight: 700;
        }
      }
    }

    .resultCell {
      min-width: 182px;
      max-width: 182px;
      width: 182px;
    }
  }
}
