@import './variables';

.searchContainer {
  background-color: $color-dark-cyan;
  height: 80px;
  display: flex;
  align-items: center;

  .searchInput {
    margin: 16px 8px 16px 32px;
    width: 912px;
    height: 44px;
    padding-left: 16px;
    border-radius: 4px;
    border: none;

    &::placeholder {
      font-style: italic;
    }
  }

  .searchInputError {
    border: 3px solid $color-red;
    &::placeholder {
      color: $color-red;
    }
  }
}
